<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366874354390-s65ua0f7j6d08ksp8bivcaqud84q2943.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366874354390-s65ua0f7j6d08ksp8bivcaqud84q2943</string>
	<key>API_KEY</key>
	<string>AIzaSyBEkgoxh186auXOBUImNI5cxd6xYJDvXmM</string>
	<key>GCM_SENDER_ID</key>
	<string>366874354390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.an4soft.hajir</string>
	<key>PROJECT_ID</key>
	<string>attendance-7d0bb</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-7d0bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366874354390:ios:d3fe9b2e316f8fcf3d5f77</string>
</dict>
</plist>